/* ######################### */
/* ####### MAIN PAGE ####### */
/* ######################### */

.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.last-posts-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.blog-page-big-title {
    width: 100%;
    border-top: 1px solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
    text-align: center;
    font-size: 11vw;
    font-weight: 600;
    white-space: nowrap;
}

@media (max-width: 800px) {
    .blog-page-big-title {
        font-size: 65px;
    }

    .last-posts-gallery {
        flex-wrap: wrap;
    }
}

.blog-page-sub-title {
    font-size: var(--subtitle-font-size);
    font-weight: 600;
}

.blog-gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.blog-gallery::after {
    content: "";
    width: 365px;
}

.post-image-container img {
    max-height: 200px;
    object-fit: cover;
}