.big-post-container {
    max-width: 600px;
    width: 100%;
    padding: 25px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-self: flex-start;
}

.big-post-container:hover {
    opacity: 0.85;
    box-shadow: 0 0 14px var(--sub-title-color);
}

.big-post-image-container {
    margin-bottom: 20px;
}
