.service-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.service-item {
    padding: 15px 15px 15px 0;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    user-select: none;
}

.service-item img {
    width: 100px;
}

.service-title {
    width: 100%;
    font-size: var(--subtitle-font-size);
    font-weight: 600;
    display: flex;
    gap: 20px;
}

@media (max-width: 570px) {
    .service-title {
        flex-wrap: wrap;
    }
    .service-title img {
        max-width: 150px;
        width: 100%;
        margin: auto;
    }
}

.service-sub-title {
    font-family: var(--text-font-family);
    font-size: var(--post-text-font-size);
    letter-spacing: 0.2px;
    line-height: 1.4;
}

.service-text-content {
    max-width: 770px;
    font-family: var(--text-font-family);
    font-size: 18px;
}