.dark-container {
    --palette-color: var(--light-background)
}

.light-container {
    --palette-color: var(--dark-background)
}

.toggle-switch {
    background-color: var(--toggle-background-color);
}

.toggle-switch {
    position: relative;
    z-index: 5;
    width: 96px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 25px;
}

.toggle-switch svg {
    cursor: pointer;
}

.toggle {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #F2F2F2;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}

.dark {
    background-color: var(--dark-background);
    stroke: var(--dark-background);
    left: 16px;
}

.light {
    left: 55px;
}