.blog-gallery-item-container {
    min-width: 80%;
    padding: 25px 25px 30px 25px;
    border: 2px solid var(--secondary-text-color);
    display: flex;   
}

.vertical {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.horizontal {
    flex-direction: row;
    gap: 10%;
}

.horizontal .blog-item-image-container {
    width: 20%;
}

.horizontal-text-container {
    width: 70%;

}

.blog-gallery-item-container:hover {
    opacity: 0.85;
    box-shadow: 0 0 14px var(--secondary-text-color);
    transition: 0.2s;
}

@media (max-width: 740px) {
    .blog-gallery-item-container {
        width: 100%;
    }
}

.blog-blog-post-image {
    width: 100%;
    border: none;
}

.blog-item-title-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: var(--default-sub-title-size);
    font-weight: 700;
}

.blog-gallery-item-container a,
.blog-gallery-item-container a:visited,
.blog-gallery-item-container a:active {
    text-decoration: none;
    color: var(--text-color);
    white-space: wrap;
}

.item-title-container:hover,
.blog-gallery-item-container a:hover {
    color: var(--secondary-text-color);
    transition: 0s;
}

.blog-item-description-container {
    color: var(--secondary-text-color);
    margin-top: 12px;
}

.blog-svg-container {
    width: 24px;
    height: 28px;
    stroke: var(--text-color);
    align-self: flex-end;
}

.blog-item-date-container {
    padding-top: 18px;
}

.post-image {
    max-width: 300px;
}

.blog-item-image-container {
    width: 100%;
}

.blog-item-image-container img {
    object-fit: cover;
}


