.small-posts-container {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

@media (max-width: 1490px) {
    .small-posts-container {
        max-width: 100%;
    }
}

.small-post-container {
    padding: 25px 5px 30px 25px;
    display: flex;
    gap: 24px;
}

@media (max-width: 1000px) {
    .small-post-container {
        flex-wrap: wrap;
    }
}

.small-post-container:hover {
    opacity: 0.85;
    box-shadow: 0 0 14px var(--sub-title-color);
}

.small-post-image-container {
    min-width: 205px;
    width: 45%;
    min-height: 100px;
}

.small-post-info {
    min-width: 205px;
    width: 50%;
}

.small-post-date-container {
    margin-bottom: 12px;
}

.small-post-title-container {
    margin-bottom: 8px;
    font-family: var(--title-font-family);
    font-size: var(--post-title-font-size);
    font-weight: 600;
}

.small-post-description-container {
    font-family: var(--text-font-family);
    font-size: var(--post-text-font-size);
    letter-spacing: 0.2px;
    line-height: 1.4;
}

.small-post-container:hover .small-post-title-container {
    color: var(--selection-color);
}