.small-posts-container {
    /* border: 1px solid purple; */
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.small-post-container * {
    /* border: 1px solid red; */
    
    /* padding: 2px; */
}

.small-post-container {
    padding: 25px 5px 30px 25px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.small-post-container:hover {
    opacity: 0.85;
    box-shadow: 0 0 14px var(--sub-title-color);
}

.small-post-image-container {
    min-width: 205px;
    width: 45%;
    min-height: 100px;
}

.small-post-info {
    min-width: 205px;
    width: 50%;
}

.small-post-date-container {
    margin-bottom: 12px;
}

.small-post-title-container {
    margin-bottom: 8px;
}
