@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --dark-background: #181D26;
    --light-background: #F2F2F2;

    --toggle-background-color: #2D283E;
    --selection-color: #F2522E;

    --background-color: #F2F2F2;
    --title-color: #181D26;
    --sub-title-color: #F2522E;
    --logo-color: #F2CB05;
    --nav-item-color: #181D26;

    --title-post-color: #181D26;
    --description-post-color: #4F5359;
    --post-text-color: #4F5359;

    --button-color: #F2522E;
    --button-text-color: #F2F2F2;

    --button-hover-color: #F2CB05;
    --button-active-color: #F2CB57;
    --button-text-color-hover: #181D26;

    --logo-hover-color: #F2522E;
    --logo-active-color: #F2CB57;

    --post-hover-color: #F2522E;
    --post-active-color: #F2CB57;

    --nav-item-hover-color: #F2522E;
    --nav-item-active-color: #F2CB57;

    /* SIZES & OTHER*/

    --nav-item-text-size: 20px;
    --logo-font-size: 38px;
    --fast-transition: 0.2s;
    --flash-transition: 0.05s;

    --post-title-font-size: 26px;
    --post-text-font-size: 16px;

    --subtitle-font-size: 32px;
    --description-font-size: 20px;
    --tooltip-font-size: 14px;

    --default-title-size: 52px;
    --default-button-font-size: 16px;

    --title-font-family: "Spectral", serif;
    --text-font-family: "Rubik", sans-serif;
}

.light {
    --toggle-background-color: #2D283E;
    --selection-color: #F2522E;

    --background-color: #F2F2F2;
    --title-color: #181D26;
    --sub-title-color: #F2522E;
    --logo-color: #F2CB05;
    --nav-item-color: #181D26;

    --title-post-color: #181D26;
    --description-post-color: #4F5359;
    --post-text-color: #4F5359;

    --button-color: #F2522E;
    --button-text-color: #F2F2F2;

    --button-hover-color: #F2CB05;
    --button-active-color: #F2CB57;
    --button-text-color-hover: #181D26;

    --logo-hover-color: #F2522E;
    --logo-active-color: #F2CB57;

    --post-hover-color: #F2522E;
    --post-active-color: #F2CB57;

    --nav-item-hover-color: #F2522E;
    --nav-item-active-color: #F2CB57;
}

.dark {
    --toggle-background-color: #F2F2F2;
    --selection-color: #D9B3F2;

    --background-color: #181D26;
    --title-color: #F2F2F2;
    --sub-title-color: #D9B3F2;
    --logo-color: #F2CB57;
    --nav-item-color: #F2F2F2;

    --title-post-color: #F2F2F2;
    --description-post-color: #D0D7E1;
    --post-text-color: #F2F2F2;

    --button-color: #F2CB05;
    --button-text-color: #4C495C;

    --button-hover-color: #812BB2;
    --button-active-color: #5F1BF2;
    --button-text-color-hover: #D0D7E1;

    --logo-hover-color: #F2522E;
    --logo-active-color: #5F1BF2;

    --post-hover-color: #D9B3F2;
    --post-active-color: #5F1BF2;

    --nav-item-hover-color: #F2522E;
    --nav-item-active-color: #5F1BF2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
    margin: 0;
    height: 100%;
}

::selection {
    background: var(--selection-color);
    color: var(--background-color);
}

button {
    user-select: none;
}

.title {
    color: var(--title-color);
}

.subtitle {
    color: var(--sub-title-color);
    font-family: var(--text-font-family);
}

.text {
    color: var(--description-post-color);
}

/* ######################### */
/* ####### BLOG PAGE ####### */
/* ######################### */

.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.last-posts-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-page-big-title {
    width: 100%;
    border-top: 1px solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
    text-align: center;
    font-size: 11vw;
    font-weight: 600;
    white-space: nowrap;
}

@media (max-width: 800px) {
    .blog-page-big-title {
        font-size: 85px;
    }
}

.blog-page-sub-title {
    font-size: var(--subtitle-font-size);
    font-weight: 600;
}

.blog-gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.blog-gallery::after {
    content: "";
    width: 365px;
}
