.contacts-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.contacts-label {
    font-weight: 700;
    font-size: var(--default-label-size);
    color: var(--primary-text-color);
}

.contacts-title {
    font-weight: 600;
    font-size: var(--default-title-size);
    color: var(--text-color);
}

.contacts-description {
    margin-top: 12px;
    color: var(--secondary-text-color);
}

.contacts-clickable-block {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    color: var(--secondary-text-color);
}

.contacts-clickable-text {
    font-size: var(--small-text-size);
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: var(--primary-text-color);
}

.standard-button {
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-text-color);
    color: var(--button-text-color);
    font-size: var(--default-label-size);
    cursor: pointer;
}

.standard-button:hover {
    background-color: var(--secondary-text-color);
}

.standard-button:active {
    background-color: var(--focus-color)
}
