.header {
    width: 100%;
    height: 65px;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    gap: 22px;
    list-style: none;
}

.hamburger {
    display: none;
    user-select: none;
}

@media (max-width: 1000px) {
    .nav-container {
        display: none;
    }

    .hamburger {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 30%;
        border: 2px solid var(--button-color);
        cursor: pointer;
        transition: var(--fast-transition);
    }

    .hamburger div {
        border-color: var(--button-color);
        transition: var(--fast-transition);
    }

    .hamburger:hover {
        border-radius: 50%;
        border-color: var(--button-hover-color);
        transition: var(--fast-transition);
    }

    .hamburger:hover div {
        width: 15px;
        border-color: var(--button-hover-color);
        transition: var(--fast-transition);
    }

    .hamburger:active {
        box-shadow: none;
        border-color: var(--button-active-color);
        transition: var(--fast-transition);
    }

    .hamburger:active div {
        border-color: var(--button-active-color);
        transition: var(--fast-transition);
    }

    .hamburger-line {
        width: 20px;
        height: 1px;
        border-top: 2px solid var(--title-color);
        transition: var(--fast-transition);
    }
}

.nav-item,
.logo-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    user-select: none;
}

.logo-link {
    text-decoration: none;
    color: var(--logo-color);
    transition: var(--fast-transition);
}

.logo-link:hover {
    color: var(--logo-hover-color);
    transition: var(--fast-transition);
}

.logo-link:active {
    color: var(--logo-active-color);
    transition: var(--fast-transition);
}

.nav-item-link {
    font-size: var(--nav-item-text-size);
    text-decoration: none;
    color: var(--nav-item-color);
    transition: var(--fast-transition);
}

.nav-item:hover {
    text-decoration: underline;
    color: var(--nav-item-hover-color);
    transition: var(--fast-transition);
}

.nav-item:active {
    color: var(--nav-item-active-color);
    transition: var(--fast-transition);
}

.logo-container {
    font-size: var(--logo-font-size);
    letter-spacing: 2px;
    color: var(--logo-color);
    transition: var(--fast-transition);
}

.selected {
    color: var(--logo-colorr);
    text-decoration: underline;
    transition: var(--fast-transition);
}