.not-found-container {
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--background-color);
    color: var(--title-color);
    font-weight: 600;
}

.not-found-title {
    font-size: var(--subtitle-font-size);
}

.not-found-link {
    text-decoration: none;
    font-family: var(--text-font-family);
    color: var(--sub-title-color);
    letter-spacing: 1.15px;
}

.not-found-link:hover {
    color: var(--button-hover-color);
}