.footer-container {
    height: 85px;
    width: 100%;
    padding-left: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.footer-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    text-decoration: none;
    font-size: var(--nav-item-text-size);
    font-family: var(--text-font-family);
    color: var(--nav-item-color);
    user-select: none;
}

.footer-information,
.footer-links a,
.footer-links a:visited {
    text-decoration: none;
    color: var(--nav-item-color);
    user-select: none;
}

.footer-links a:hover {
    color: var(--nav-item-hover-color);
}

.footer-links a:active {
    color: var(--nav-item-active-color);
}